<div class="box login">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <div class="hint">Use "bob@example.com"</div>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
      <div class="hint">Use "password"</div>
    </div>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>
